body {
    font-family: Verdana;
    font-size: 14px;
    line-height: 1.5;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 500px;
}

ul {
    list-style-type: none;
}

